body {
  background-color: #c0d3cf;
}
body {
  filter: invert(1) hue-rotate(0deg);
  animation: spookyColors 10s linear infinite;
}

@keyframes spookyColors {
  0% {
    filter: invert(1) hue-rotate(0deg);
  }
  100% {
    filter: invert(1) hue-rotate(360deg);
  }
}
.flicker {
  color: rgb(122, 5, 5);
  animation: flickerLight 1.5s infinite alternate;
}

@keyframes flickerLight {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

#calculator {
  width: 400px;
  height: 570px;
  margin: 100px auto;
  background-color: #426809;
  color: #ce0404;
  border-radius: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px 0.1px rgb(87, 63, 41);
}

.display {
  width: 100%;
  height: 80px;
  background-color: #490303;
  box-shadow: 0 0 15px #39ff14;
  font-size: 36px;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-weight: bolder;
  font-family: cursive;
}
.nosifer-regular {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

button {
  width: 100%;
  height: 70px;
  font-size: 24px;
  background-color: #8c4604;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(10px 10px 10px rgb(19, 24, 19));
  font-weight: bolder;
}
button:hover {
  transform: scale(1.05);
}

.operator {
  background-color: #03570e;
  color: #fff;
}

#jumpscare {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  visibility: hidden;
}
